<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">no se renderiza esta cadena</title>
</head>
<body>
    <h1 th:text="${title}"></h1>
    <ul>        
        <li th:text="${user.name}"></li>
        <li th:text="${user.lastname}"></li>
        <li th:if="${user.email}" th:text="${user.email}"></li> <!--evalua user.email != null}-->
        <li th:if="${user.email == null}" th:text="${'no tiene email'}"></li> 
    </ul>
    <!--multiple ways to link to a page with params-->
    <a th:href="@{/list}">ver listado</a><br>
    <a th:href="@{'/api/params/foo?message=' + ${title}}">ver api/params/foo with 1 param</a><br>
    <a th:href="@{/api/params/foo?message=random value}">ver api/params/foo with 1 param random</a><br>
    <a th:href="@{/api/params/foo(message='another random value')}">ver api/params/foo with another param random</a><br>
    <a th:href="@{/api/params/bar(text='multiple params', code=666)}">ver api/params/bar multiple params</a><br>
    <a th:href="@{/api/var/baz/this is a value}">/api/var/baz/ with path variable</a><br>
    <a th:href="@{'/api/var/baz/' + ${title}}">/api/var/baz/ with path variable 2</a><br>


</body>
</html>